@import "global-variables";

$award-margin-y: 32px;
$award-margin-x: 25px;

$columns-padding: 48px;
$default-padding-x-phone: 32px;
$default-padding-x-tablet: 4rem;

.compliance-container {
  background-color: #262729;
  font-size: 12px;
  // padding-left: $columns-padding;
  // padding-right: $columns-padding;
  
  @media screen and (max-width: $breakpoint-phone) {
    overflow: hidden;
    // padding-right: $default-padding-x-phone;
    // padding-left: $default-padding-x-phone;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    // padding-right: $default-padding-x-tablet ;
    // padding-left: $default-padding-x-tablet ;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .row {
    margin-left: -$columns-padding;
    margin-right: -$columns-padding;

    > div {
      padding: $columns-padding;
    }
  }
}

.compliance-text {
  color: $text-grey;
  font-size: 24px;
}



