$breakpoint-phone: 767px; // < 768
$breakpoint-tablet: 1199px; // < 1200
//$breakpoint-desktop: 1200px;

$bgi-darkness: .4;

$color-primary-bright: #1ACE8A;
$color-primary: #1BD495;
$color-primary-dark: #13B277;

$text-black: #121212;
$text-black-light: #3E3E3E;
$text-grey: #D5D8DE;