@import "global-variables";

.content {
  background-color: #262729;
  padding-top: 24px;
}

.practice-details {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  @media screen and(max-width:$breakpoint-phone){
    flex-direction: column;
  }

  .practice-details-block {
    width: 50%;
    @media screen and(max-width:$breakpoint-phone){
      width: 100%;
    }
  }
  .practice-details-block,
  .practice-details-block {
    font-family: Poppins;
  }
  .practice-details-approaches {
    padding-top: 35px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    @media screen and(max-width:$breakpoint-phone){
      padding: 0;
    }

    > ul {
      font-size: 14px;
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 20px;
      color: $text-grey;

      > li {
        // display: flex;
        align-items: center;

        &::before {
          content: "•";
          margin-right: 0.3em;
        }
      }
    }
    .approaches-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .approaches {
      letter-spacing: 0.15px;
      line-height: 20px;
      color: $text-grey;
    }
  }
  .practice-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .practice-description {
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 20px;
    color: $text-grey;
    margin-bottom: 24px;
  }
}

.practice-laywers {
  margin-bottom: 90px;

  .list-title {
    flex:0 0 100%;
    padding-left:16px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
  }
}

.btn {
  margin-bottom: 15px;
}
.btn-primary {
  color: #1bd495;
  background-color: white;
  border-color: #1bd495;
  border-width: 2px;
  margin-top: -15px;
}
.event-list {
  display: flex;
  flex-direction: row;
  margin-left: -290px;


  .event-image{
	  margin-right: 20px;
  }

  .event-text{
	width: max-content;
  }

  hr {
    border-top: 1px solid rgba(151, 151, 151, 0.2);
    //   margin: $ssecond-row-phone-padding-y 0 0;
  }

  @media screen and (max-width: $breakpoint-phone) {
    .second-row > &[class*="col"] {
      padding-bottom: 0;
    }
  }

  > div:first-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 12px;
      margin-bottom: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 12px;
    }

    $visible-right-space: 72px;

    .events-scroller {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      margin-right: 15px;
      overflow: hidden;

      @media screen and (max-width: $breakpoint-phone) {
        margin-right: 0;
      }

      .event-info {
        flex: 1 0 50%;
        display: flex;
        flex-direction: row;
        transition: opacity 500ms;

        @media screen and (max-width: $breakpoint-phone) {
          flex: 0 0 100%;
          padding-left: 0 !important;
          $padding-right: 32px;
          padding-right: $visible-right-space + $padding-right !important;

          &:not(.active) {
            opacity: 0.4;
          }

          &:nth-child(n + 2) {
            margin-left: -$visible-right-space + $padding-right;
          }
        }

        .material-icons {
          font-size: 12px;
          margin-right: 4px;
        }

        .event-image {
          position: relative;
          display: inline-block;
          width: 256px;
          flex-shrink: 0;

          @media screen and (max-width: $breakpoint-phone) {
            $content-row-padding-x: 32px;
            width: 100%;
            height: auto;
            min-height: 0;
            top: 0;
            margin-bottom: 16px;
          }

          img {
            width: 100%;
            height: auto;
          }
        }

        .event-datetime {
          margin-bottom: 8px;
          font-size: 12px;
          font-weight: 500;

          > span {
            display: inline-flex;
            align-items: center;

            &:first-child {
              padding-right: 16px;
            }
          }
        }

        $distance-from-divisor: 16px;

        &:first-of-type {
          padding-right: $distance-from-divisor;
        }

        &:nth-of-type(even) {
          padding-left: $distance-from-divisor;
          border-left: 1px solid rgba(151, 151, 151, 0.2);

          @media screen and (max-width: $breakpoint-phone) {
            border: none;
          }
        }
      }

      .event-description {
        font-size: 12px;
        margin-bottom: 16px;
      }
    }

    .mobile-navigation {
      position: absolute;
      color: $color-primary;

      $size: 18px;

      .material-icons {
        position: absolute;
        font-size: $size;
        top: calc(50% - #{$size/2});
      }

      &.previous {
        display: none;
        height: 100%;
        width: 80px;
        top: 0;
        left: 0;
      }

      &.next {
        display: none;
        height: 100%;
        width: $visible-right-space + $size + 16px;
        top: 0;
        right: 0;
      }
    }
  }
}

.publication-list {
  position: relative;

  > div:first-child {
    display: flex;
    height: 100%;

    @media screen and (max-width: $breakpoint-phone) {
      flex-direction: column;
    }

    .title {
      font-size: 12px;
      margin-bottom: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .publication-list-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 30px;

      @media screen and (max-width: $breakpoint-phone) {
        padding-left: 0;
      }

      $visible-right-space: 72px;

      .date {
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 500;

        > span {
          display: inline-flex;
          align-items: center;

          &:first-child {
            padding-right: 16px;
          }
        }
        > i {
          font-size: 12px;

          margin-right: 4px;
        }
      }

      .publications-info {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .publications-scroller {
          flex-grow: 1;
          display: flex;
          overflow: hidden;
        }

        .publication-info {
          flex: 0 0 100%;
          display: flex;
          transition: opacity 500ms;

          @media screen and (max-width: $breakpoint-phone) {
            flex-direction: column;
            padding-left: 0 !important;
            $padding-right: 32px;
            padding-right: $visible-right-space + $padding-right !important;

            &:not(.active) {
              opacity: 0.4;
            }

            &:nth-child(n + 2) {
              margin-left: -$visible-right-space + $padding-right;
            }
          }

          .publication-text {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-left: 28px;
            padding-top: 12px;

            @media screen and (max-width: $breakpoint-phone) {
              padding-left: 0;
            }

            .publication-description {
              font-size: 12px;
              margin-bottom: 16px;
            }
          }
        }

        .mobile-navigation {
          position: absolute;
          color: $color-primary;

          $size: 18px;

          .material-icons {
            position: absolute;
            font-size: $size;
            top: calc(50% - #{$size/2});
          }

          &.previous {
            display: none;
            height: 100%;
            width: 80px;
            top: 0;
            left: 0;
          }

          &.next {
            display: none;
            height: 100%;
            width: $visible-right-space + $size + 16px;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.second-row {
  background-color: #47484b;
}
#carrossel {
  margin-left: -80px;
  margin-right: -80px;
}

.laywer-card-list {
  flex-wrap: wrap;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-phone) {
    width:100%;
  }
}