@media screen and (max-width: 767px) {
  .blurb-header {
    text-align: center;
  }
}

.blurb-header .title {
  max-width: 650px;
  margin-bottom: 16px;
}

.practice-area-list {
  padding-top: 48px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #262729;
  width: 100vw;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
        align-items: flex-start;

}

.practice-area-list .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (max-width: 767px) {
  .practice-area-list .title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.practice-area-list .practice-area-list-content {
  list-style: none;
  padding: 0;
  -webkit-column-count: 3;
  column-count: 3;
  margin-bottom: 48px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .practice-area-list .practice-area-list-content {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-column-count: 1;
            column-count: 1;
    margin-bottom: 0;
    width: 100%;
  }
}

.practice-area-list .practice-area-list-content > li {
  margin-bottom: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.practice-area-list .practice-area-list-content > li > a {
  color: white;
  margin-left: 25px;
}

.practice-area-list .emphasis {
  margin-bottom: 32px;
}

.practice-area-list .search-container {
  width: 75em;
}

@media screen and (max-width: 767px) {
  .practice-area-list .search-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
  }
}

.practice-area-list .search-container > .filters {
  margin-bottom: 18px;
}

.practice-area-list .search-container > .filters .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.practice-area-list .search-container > .filters .filters-initial {
  margin: 16px;
}

.practice-area-list .search-container > .filters .filter-area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.practice-area-list .search-container > .filters .filters-initial {
  white-space: nowrap;
  margin: 16px;
}

@media screen and (max-width: 767px) {
  .practice-area-list .search-container > .filters .filters-initial {
    display: none;
    white-space: normal;
    text-align: center;
  }
}

.practice-area-list .search-container > .filters .filters-initial > label > span {
  cursor: pointer;
  font-weight: 600;
}

.practice-area-list .search-container > .filters .filters-initial > label > input {
  display: none;
}

.practice-area-list .search-container > .filters .filters-initial > label > input:checked + span {
  color: #1BD495;
}

.practice-area-list .search-container > .filters .filters-initial > label > input:disabled + span {
  pointer-events: none;
  color: #575758;
}

.practice-area-list .search-container > .filters .form-control {
  height: 46px;
}

.practice-area-list .search-container > .filters input {
  border: 1px solid #494949;
  border-radius: 23px;
  background-color: rgba(67, 67, 67, 0.1);
  -webkit-transition: background-color 1s, border-color 1s;
  transition: background-color 1s, border-color 1s;
  padding-right: 48px;
  padding-left: 24px;
}

.practice-area-list .search-container > .filters input:focus {
  background-color: white;
  border-color: #1BD495;
  border-width: 2px;
  color: #464646;
  font-weight: 500;
}

.practice-area-list .search-container > .filters input:focus::-webkit-input-placeholder {
  color: rgba(38, 39, 41, 0.2);
}

.practice-area-list .search-container > .filters input:focus:-ms-input-placeholder {
  color: rgba(38, 39, 41, 0.2);
}

.practice-area-list .search-container > .filters input:focus::-ms-input-placeholder {
  color: rgba(38, 39, 41, 0.2);
}

.practice-area-list .search-container > .filters input:focus::placeholder {
  color: rgba(38, 39, 41, 0.2);
}

.practice-area-list .search-container > .filters input:focus + .material-icons {
  color: #1E1E1E;
}

.practice-area-list .search-container > .filters input + .material-icons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: calc(15px + 1rem);
  font-size: 18px;
}

.practice-area-list .search-container > .filters select {
  color: white;
  border: 1px solid #494949;
  border-radius: 4px;
  background-color: #1e1e1e;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  /* For IE10 */
}

.practice-area-list .search-container > .filters select::-ms-expand {
  display: none;
}

.practice-area-list .search-container > .filters select + .material-icons {
  pointer-events: none;
  color: #1BD495;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: calc(15px + 1rem);
  font-size: 18px;
}

.practice-area-list .search-container .filters-initial {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  #specialization-sectors {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 20px;
  }
}

#sector-content {
  /* width: 75.6em; */
}

@media screen and (max-width: 767px) {
  #sector-content {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important;
    width: 100%;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=practice-area-list.css.map */