{% extends "admin/base.html" %}

{% load i18n %}

{#{% block extrahead %}#}
{#	<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>#}
{#	{{ block.super }}#}
{#{% endblock %}#}
{% block extrahead %}
    <style>
        .suit-columns { display: flex; }
    </style>
{% endblock %}

{% block header_content %}
	{{ block.super }}
	<div class="header-content">
		<form action="{% url "set_language" %}" method="post">
			{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}" />
			<select name="language" style="width: auto;">
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as LANGUAGES %}
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
					<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
						{{ language.name_local }} ({{ language.code }})
					</option>
				{% endfor %}
			</select>
			<input class="btn btn-high" type="submit" value="Selecionar" style="vertical-align: top;" />
		</form>
	</div>
{% endblock %}

{% block nav-global %}{% endblock %}